.createContainer h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.createContainer button {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  gap: 0.5rem;
  transition: all 0.3s;
}

.createContainer button:active {
  transform: scale(0.95);
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}

.modal form {
  width: 60%;
  height: 85%;
  background: #121212;
  border-radius: 8px;
  padding: 4rem 3rem;
}

.modal form label {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.modal form button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  margin-top: 2rem;
  transition: all 0.3s;
  align-self: flex-end;
}

.select {
  border-radius: 5px;
  padding: 0.65rem 1rem;
  background: rgba(26, 26, 26, 0.5);
  color: inherit;
  outline: 1px solid #303030;
}

.select select {
  color: inherit;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  font-size: 16px;
}

.select:has(select:focus) {
  outline: 1px solid #6032eb;
  border: none;
}

.inputField {
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1.2rem;
}

.textArea {
  resize: none;
  height: 100px;
}
